<h1>About us</h1>
<p>We're working on our One Month Rails project</p>
<p>This site is almost like a time capsule. Hopefully I will be able to look back on this site and see the progress I have made from start to finish.<p>